@use "breakpoints";
@use "variables";

html {
  background: var(--black);
  color: var(--white);
  margin:0;
  padding: 0;
  background: variables.$black;
  font-family: var(--font-source-sans-3), Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  height: 100%;                  
  overflow-y: scroll;    
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: variables.$black;
  min-height: 100vh;          
  min-height: 100dvh; 
}

body.no-scroll {
  overflow: hidden; 
}

main {
  flex: 1;

  @include breakpoints.mobile {
    margin-top: 3.5rem;
    padding-top: 0;
  }
}


img {
  display: block;
  aspect-ratio: auto;
}


iframe {
  width: 100%;
  aspect-ratio: 16 / 9;           
  outline: 1px solid variables.$black;
  border-radius: 6px;
  margin-bottom: 2rem;
  display: block; 
}

hr {
  height: 0;
  border: none;
  border-bottom: 4px solid var(--accent);
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;

  img {
    margin: 0;
    max-width: 100%;
    aspect-ratio: 1 / 1; 
    
    @include breakpoints.tablet-or-smaller {
      max-height: 100px;
    }
  }

  @include breakpoints.mobile {
    position: absolute;
  }
}

a {
  color: variables.$white;
}
