@use "variables";
@use "breakpoints";
@use "sass:color";

.button {
    border-radius: 10px;

    transition: all 100ms linear;
    color: variables.$white;
    font-size: 1.15rem;
    margin-bottom: 1rem;

    &:hover {
        background: color.adjust(variables.$accent, $lightness: -10%);
        color: variables.$white;
    }

    @include breakpoints.mobile {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border-radius: 8px;
    }

}