@use "variables";
@use "breakpoints";

.privacy{
    margin: 2px;
    padding: 5rem 6rem;
    background: variables.$darkeraccent;

    @include breakpoints.mobile{
        margin-top: 6px;
        padding: 2rem;
        background: variables.$black;
    }
}

.context p{
    text-align: center;
    font-size: large;
    margin: 0;    
}

.approval p{
    font-size: large;
    margin: 0;

    a{
        color: variables.$lightaccent;
    }

    @include breakpoints.mobile{
        font-size: 0.8rem;
    }
}

#demo-request {
    position: relative;
    z-index: 10; 
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
}

#demo-request button {
  background-color: variables.$darkred;
  padding: 0.5rem; 
  border: 0.5px solid variables.$white;
  font-size: 0.875rem;

  &:hover {
    background-color: variables.$lightred;
    border: 2px solid variables.$white;
  }
}
.privacy-heading{
    text-align: left;
    padding: 0;
}
#demo-form {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-radius: 8px;
    border: 2px solid variables.$red;
    padding: 1rem;
    justify-content: center;
    background-color: variables.$darkeraccent;
    gap: 10px;

    @include breakpoints.mobile {
        width: 90%;
        margin: 0.5rem auto;
    }
}
.email{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 0.5rem;

}
#demo-form input[type="email"] {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    flex: 1;
    font-size: 0.8rem;
    font-weight: 700;
    width: 280px;
    color: variables.$darkaccent;

    @include breakpoints.mobile {
        width: 245px;
        font-size: 0.75rem;
    }
}

#demo-form button.button {
    margin-bottom: 0;   
    width: 100px; 
}

#demo-thankyou {
    margin-top: 1rem;
    color: variables.$white;
    padding: 0.9rem;
    text-align: center;
    background-color: variables.$darkeraccent;
    border-radius: 8px;
    border: 1px solid variables.$red;
}

.demo-error {
    display: none;
    color: variables.$red;
    margin-top: 0.5rem;
    text-align: center;
    font-weight: bold;
}

.demo-error.show {
    display: block;
}

.recaptcha-container {
    overflow: hidden;
    width: 304px;
    margin: 4px 0;

    @include breakpoints.mobile {
        $scale: 0.88;
        width: calc(304px * #{$scale});
        height: calc(78px * #{$scale});

        .g-recaptcha {
            transform: scale($scale);
            -webkit-transform: scale($scale);
            transform-origin: left top;
        }
    }

    
    @media screen and (max-width: 340px) {
        $scale: 0.75;
        width: calc(304px * #{$scale});
        height: calc(78px * #{$scale});

        .g-recaptcha {
            transform: scale($scale);
            -webkit-transform: scale($scale);
            transform-origin: left top;
        }
    }
}