$black: #000001;
$white: #ffffff;

$red: #cf388a;
$darkred:#A22C6C;
$lightred:#C03480;

$primary: #ffffff;
$accent: #2583bf;
$lightaccent: #6cbbfb;
$darkeraccent: #171D39;
$darkaccent: #084066;

@font-face {
  font-family: "Source Sans 3";
  src: url("/assets/fonts/source-sans-3-v18-latin-regular.woff2" ) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  size-adjust: 102%;
  ascent-override: 92%;
  descent-override: 24%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "Source Sans 3";
  src: url("/assets/fonts/source-sans-3-v18-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  size-adjust: 102%;
  ascent-override: 92%;
  descent-override: 24%;
  line-gap-override: 0%;
}

:root {
  --primary: #ffffff;
  --accent: #2583bf;
  --lightaccent: #6cbbfb;
  --darkeraccent: #171D39;
  --darkaccent: #084066;
  --black: #000000;
  --white: #ffffff;
  --secondary: var(--accent);
  --foreground: var(--white);
  --background: var(--black);
  --font-source-sans-3: "Source Sans 3", system-ui, sans-serif;
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.darker-accent {
  color: var(--darkeraccent);
}

.body-font {
  font-family: var(--font-source-sans-3);
}

.heading-font {
  font-family: var(--font-source-sans-3);
}
